.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 60px;
  margin-bottom: 50px;
}
.text-input {
  margin-bottom: 20px;
  width: 1000px;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
}
.button {
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(167, 61, 199);
  color: white;
}
/* input[type="submit"]::-webkit-inner-spin-button,
input[type="submit"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */

.todolist {
  margin: 15px 0 15px 0;
  line-height: 170%;
}
